html {
	font-size: 16px;
}
body {
	padding: 1em 2em;
	font-family: Consolas, monospace;
}
.band {
	background: rgba(0,0,0,.2);
	padding: 1em 0em;
	list-style: none;
}
.band li {
	padding: 1em;
}

.back {
	display: block;
	margin-bottom: 30px;
}
