html {
	font-size: 16px;
	background: url(../images/84604_sm.png) no-repeat fixed 1em 1em;
}
body {
	padding: 2.3em 7em;
	font-family: Consolas, monospace;
}
.band {
	background: rgba(0,0,0,.2);
	padding: 1em 0em;
	list-style: none;
}
.band li {
	padding: 1em;
}